.misdemeanour {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 8px 16px;
  &--yours {
    background-color: $gold;
  }
}

.misdemeanour__id {
  grid-column-start: 1;
}

.misdemeanour__misdemeanour {
  grid-column-start: 3;
}

.misdemeanour__date {
  grid-column-start: 2;
}

.misdemeanour__punishment {
  grid-column-start: 4;
  text-align: center;
}

.misdemeanour__item-heading {
  display: none;
}

@media screen and (max-width: $screen-small) {
  .misdemeanour {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 2px solid;
    margin-bottom: 20px;
  }
  .misdemeanour__item-heading {
    display: inline;
    font-weight: bold;
    grid-column-start: 1;
    margin: 0.5em 0;
    font-size: $font-regular;
  }
  .misdemeanour__id,
  .misdemeanour__date,
  .misdemeanour__misdemeanour,
  .misdemeanour__punishment {
    grid-column-start: 2;
    text-align: right;
    margin: 0.5em 0;
  }

  .misdemeanour__punishment {
    float: right;
  }
}
