.nav-bar {
  flex: 1 1 0;
  display: flex;
}

.nav-bar__links,
.nav-bar__links--expanded {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}

.nav-bar__link {
  margin: 0 1rem;
  text-align: center;
  font-size: $font-regular;
  color: white;
  text-decoration: none;
}

.nav-bar__link-text--active {
  color: $gold;
}

.nav-bar__link-text:visited {
  color: white;
}

.nav-bar__link-text:hover {
  color: $gold;
}

.nav-menu {
  display: none;
}

@media screen and (max-width: $screen-regular) {
  .nav-bar__links {
    display: none;
  }

  .nav-bar__links--expanded {
    position: absolute;
    top: $header-height;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - $header-height);
    background-color: $blue;
    opacity: 0.8;
    align-items: center;
    justify-content: space-around;
  }

  .nav-bar__link {
    font-size: $font-largest;
  }

  .nav-menu {
    display: block;
    background-color: transparent;
    border: none;
  }
  .nav-bar {
    justify-content: flex-end;
  }
}
