.nav-bar {
    flex: 1 1 0;
    display: flex;
  }
  
  .nav-bar__links {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
  }
  
  .nav-bar__link {
    margin: 0 1rem;
    text-align: center;
    font-size: $font-regular;
    color: white;
    text-decoration: none;
  }

  .nav-bar__link-text--active {
    color: $gold;
  }

  .nav-bar__link-text:visited {
    color: white;
  }

  .nav-bar__link-text:hover {
    color: $gold;
  }

//   @media screen (max-width: 768px) {
    
//   }

 