// Color 
$grey: #444;
$blue: #162e51;
$gold: #ffbe2e;
$red: red;

// Font
$title-font-family: 'Source Serif Pro', serif;
$body-font-family: 'Public Sans', sans-serif;

//Font Size
$font-largest: 1.75rem;
$font-large: 1.5rem;
$font-regular: 1rem;
$font-small: 0.875rem;

//Layout
$max-width: 960px;

//Breakpoints
$screen-smallest: 360px;
$screen-small: 580px;
$screen-regular: 768px;