// Color 
$grey: #444;
$blue: #162e51;
$gold: #ffbe2e;

// Font
$title-font-family: 'Source Serif Pro', serif;
$body-font-family: 'Public Sans', sans-serif;

//Font Size
$largest: 1.75rem;
$large: 1.5rem;
$regular: 1rem;
$small: 0.875rem;

//Layout
$max-width: 1280px;